
.label {
    -fx-font-size: 14px;
}

.title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.subtitle {
    -fx-font-weight: bold;
}

.text-light {
    -fx-text-fill: #e0e0e0;
}

.information-panel {
    -fx-background-color: rgba(48, 48, 48, 0.6);
    -fx-pref-height: 100;
    -fx-padding: 10px;
}

.side-menu {
    -fx-background-color: #f0f0f0;
    -fx-padding: 10px;
    -fx-max-width: 160;
}

.simple-rounded-button {
    -fx-padding: 2px 8px;
    -fx-background-radius: 1000px;
    -fx-background-color: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.simple-rounded-button:hover {
    -fx-background-color: #e0e0e0;
}

.simple-rounded-button:pressed {
    -fx-background-color: #ffffff;
}